body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: gray;
  }

.navbar{
    display:flex;
    flex-direction: flex-start;
}

.home,.portfolio,.social{
    margin: 10px;
    font-size: xx-large;
}

.home > a:link, .home > a:visited, .home:active{
    color:white;
    text-decoration: none;
}

.social > a:link, .social > a:visited, .social:active{
    color:white;
    text-decoration: none;
}

.home:hover, .social:hover{
    text-decoration: underline;
}