body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: gray;
  }

.navbar{
    display:flex;
    flex-direction: flex-start;
}

.home,.portfolio,.skill{
    margin: 10px;
    font-size: xx-large;
}

.portfolio > a:link, .portfolio > a:visited, .portfolio:active{
    color:white;
    text-decoration: none;
}

.home > a:link, .home > a:visited, .home:active{
    color:white;
    text-decoration: none;
}

.portfolio:hover, .home:hover{
    text-decoration: underline;
}